.navbar{
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: white;
    padding: 10px;
    transition: all 0.3s;
}

.navbar h1{
    margin: 10px auto;
    margin-bottom: 25px;
}

.sticky{
    -webkit-box-shadow: 0px 10px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 18px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 18px -1px rgba(0,0,0,0.75);
}

.navbar-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.name-wrapper{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.name-wrapper img{
    height: 2em;
    margin-right: 10px;
}

.graphs-button{
    display: flex;
    align-items: center;
}

.graphs-button i{
    font-size: 2em;
    margin-right: 5px;
}

.button-link{
    text-decoration: none;
    color: rgb(116, 192, 255);
    transition: color 0.2s;
}

.button-link:hover{
    color: rgb(0, 140, 255);
}

.input-search{
    padding: 10px;
    font-size: 1.5rem;
    outline: none;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.329);
    transition: all 0.2s ease;
}

.input-search:focus{
    box-shadow: 0px 0px 5px 1px rgba(0, 140, 255, 0.445);
}

.input-search::-webkit-search-cancel-button:hover{
    cursor: pointer;
}

.input-search::-webkit-calendar-picker-indicator {
    display: none;
}

.input-search::placeholder{
    text-align: center;
}

.data-list{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    background-color: rgb(65, 65, 65);
    color: white;
    width: 100%;
    border-radius: 5px;
    overflow-y: auto;
    display: none;
}

.data-list li{
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
}

.data-list li:hover{
    cursor: pointer;
    background-color: rgb(104, 104, 104);
}

.visible{
    display: block;
}

@media screen 
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .navbar h1{
        font-size: 3rem;
    }

    .navbar h2{
        font-size: 2.7rem;
    }

    .navbar i{
        font-size: 2.7rem!important;
    }

    .input-search{
        font-size: 2.7rem;
    }

    .data-list li{
        font-size: 2rem;
    }
}