.navbar{
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: white;
    padding: 10px;
    transition: all 0.3s;
}

.sticky{
    -webkit-box-shadow: 0px 10px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 18px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 18px -1px rgba(0,0,0,0.75);
}

.navbar-bottom{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.name-wrapper{
    display: flex;
    align-items: center;
}

.name-wrapper img{
    height: 2em;
    margin-right: 10px;
}