
.map-container{
    height: 80vh;
    width: 100%;
    min-width: 350px;
    margin: 0 auto;
}

.spinner-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen 
  and (max-device-width: 400px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .map-container{
        height: 50vh;
    }
}